.navbar{
    background-color: rgb(37, 37, 37);
    color: #fff;
    display:inline-block;
}
.header{
    font-size: 30px;
    font-weight: 600;    
}
.nav-actions{    
    position: fixed;
    right: 20px;
    top: 20px;    
}